@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", 'ヒラギノ角ゴ W3', "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  --text-color: #333;
  --main-color: #426AB3;
  --base-color: #f3f2e8;
  --accent-color: #C9A333;
}

body {
  font-size: 14px;
  line-height: 1.8;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  line-height: 1.5;
}

a {
  color: var(--main-color);
  text-decoration: underline;
  position: relative;
}

a:hover {
  opacity: 0.8;
}
a:visited {
  color:#551A8B
}

ul {
  padding: 0;
  list-style: none;
}

/* 全ページ共有のヘッダー */
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 5px 10px 0px;
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

/* ハンバーガーメニュー関係 */
.header-button {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  border: none;
  width: 60px;
  height: 50px;
  background-color: transparent;
  z-index: 100;
}
.header-button .icon {
  display: block;
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 24px;
  height: 2px;
  background-color: #333;
  transition: .3s ease;
}
.header-button .icon:before, .header-button .icon:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all .3s;
  background-color: #333;
}
.header-button .icon:before {
  top: -8px;
}
.header-button .icon:after {
  top: 8px;
}

.header-gnav {
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  transform: translateX(100%);
  transition: .3s ease;
}

.header-gnav ul {
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-gnav a {
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  padding: 0.8em;
  text-decoration: none;
  transition: all 0.5s;
}
.header-gnav a:hover {
  text-decoration: underline;
}

a.header-logo {
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  display: block;
  padding: 0.4em;
  text-decoration: none;
  transition: all 0.5s;
}
a.header-logo:hover{
  text-decoration: underline;
}
a.header-logo:visited {
  color: var(--main-color);
}

/* ハンバーガーメニュー開いた時の挙動 */
body.open {
  overflow: hidden;
}
.open .header-button .icon {
  background-color: transparent;
}
.open .header-button .icon:before, .open .header-button .icon:after {
  top: 0;
}
.open .header-button .icon:before {
  transform: rotate(45deg);
}
.open .header-button .icon:after {
  transform: rotate(-45deg);
}
.open .header-gnav {
  transform: translateX(0);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
  header {
    align-items: center;
  }
  .header-button {
    display: none;
  }
  .header-gnav {
    margin-right: -0.8em;
    transform: translateX(0);
    position: relative;
    background: none;
  }
  .header-gnav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  .header-logo {
    flex: none;
  }
}

/* トップページのメインビジュアル */
.main-visual {
  background: url("../img/toppage-background.jpg") no-repeat center center/cover;
  height: 420px;
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}
.main-visual h1 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.01em;
  margin-top: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-visual p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  line-height: 1.5;
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 700px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

@media screen and (min-width: 768px) {
  .main-visual {
    margin-top: 0;
    height: 600px;
  }
  .main-visual h1 {
    font-size: 50px;
    letter-spacing: 0.01em;
    margin-bottom: 0.5em;
  }
  .main-visual p {
    font-size: 20px;
    letter-spacing: 0.04em;
    margin: 0 auto;
  }
}

/* トップページのお知らせ */
.news {
  text-align: center;
  background-color: var(--base-color);
  padding: 0.5em 0 2em;
  margin: 0 auto 0;
}
.news h2 {
  font-size: 22px;
  margin: 1em auto 0.5em;
}
.news ul {
  border: 2px dashed #333;
  padding: 0.5em;
  max-width: 85%;
  margin: 0.5em auto 0.5em;
}
.news li {
  line-height: 1.5;
  padding-left: 1em;
  padding-right: 1em;
  text-align: start;
}
.news time {
  font-weight: 700;
}
.news p {
  margin: 0;
  padding-left: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.news li.new p {
  font-weight: 700;
  color: var(--main-color);
}
.news li.new p::before {
  content: 'New!';
  font-weight: 700;
  color: var(--main-color);
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.1em;
}
.news-link {
  font-size: 12px;
  color: inherit;
  text-decoration: underline;
}
.news-link::before {
  display: inline-block;
  content: "（";
  text-decoration: none;
}
.news-link::after {
  display: inline-block;
  content: "）";
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .news-link {
    font-size: 14px;
  }
  .news ul {
    max-width: 600px;
  }
}

/* footer */
footer {
  background-color: #444;
  padding: 15px 0 15px;
  /* max-width: 1300px; */
  margin: 0 auto 0;
  text-align: center;
}
footer small {
  color: #FFF;
}

/* 下層ページに共通の設定 */
.subpage main {
  background-color: var(--base-color);
  padding-top: 50px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.subpage h1, .subpage h2 {
  display: block;
  width: 100%;
  margin-top: 20px;
}
.subpage h1 {
  font-size: 28px;
  text-align: center;
}
.subpage h2 {
  font-size: 22px;
  color: var(--main-color);
  border-bottom: var(--main-color) solid 3px;
  margin-left: auto;
  margin-right: auto;
}
.subpage h3 {
  font-size: 16px;
  margin-bottom: 0;
  color: #333;
}

.subpage-eyecatch {
  display: block;
  max-width: 800px;
  height: auto;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
}

.subpage-container {
  background-color: #fff;
  width: 85%;
  max-width: 600px;
  border: #333 dashed 2px;
  border-radius: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.subpage-container section {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .subpage h1 {
    font-size: 36px;
  }
  .subpage h2 {
    font-size: 28px;
  }
  .subpage h3 {
    font-size: 18px;
  }
}

/* --------------- profile ページ固有------------------*/
#tiger {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  #tiger {
    width: 300px;
    height: 300px;
  }
}

.subpage-container p {
  text-align: justify;
  padding-left: 1em;
  padding-right: 0.5em;
}
.subpage-container dt {
  padding-left: 1em;
  font-weight: 400;
}
.subpage-links dt {
  font-weight: 400;
}
.subpage-container dd {
  margin-left: 2em;
}
.profile-info dt {
  font-weight: 700;
}

/* ------------- 資料ページ固有 -------------*/

#cat {
  display: block;
  width: 200px;
  height: 200px;
  max-width: 100%;
  object-fit: cover;
  margin: auto;
  border-radius: 50%;
}
#resource-introduction {
  display: block;
  width: 80%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  #cat {
    width: 300px;
    height: 300px;
  }
}

